.container__main{
  background-color: rgba(45, 44, 44, 1);
  
  min-height: 850px;

}
.container__main p {
  text-align: center;
}
.decor {
  position: relative;
  max-width: 600px;
  margin: 50px auto 0;
  background: rgba(37, 37, 37, 1);
  border-radius: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {
  padding: 50px;
}
.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: rgb(222, 190, 11);
  border-bottom: 4px solid rgb(217, 187, 13);
  color: white;
  font-size: 14px;
}
.form-inner textarea {
  resize: none;
}
.form-inner h3 {
  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  
}
.container__main H3{
position:relative;
  text-align:center;
  margin: 15px auto 0;
  padding-top:30px;
  
}
.form-inner H3{
  padding-bottom: 30px;
}
/*healer*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
@font-face{
    font-family: "Mplus 1p";
    src: url("fonts/MPLUS1p-Regular.ttf") format("truetype");

    }
    @font-face{
        font-family: "Mplus 1p-Bold";
        src: url("fonts/MPLUS1p-Bold.ttf") format("truetype");

        }
        @font-face {
            font-family: "Mplus1p-Black";
            src: url("fonts/MPLUS1p-Black.ttf") format("truetype");
        }
        @font-face{
            font-family: "Mplus 1p-Medium";
            src: url("fonts/MPLUS1p-Medium.ttf") format("truetype");
    
            }
/* Указываем box sizing */
.search {
  width: 100%;
  position: relative;
  display: flex;
  background-color: rgba(37, 33, 30, 1);
  display:none;
}

.searchTerm {
  width: 100%;
  border: 1px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ffffff;
  background: rgba(37, 33, 30, 1);
}

.searchTerm:focus{
  color: #ffffff;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  background: rgba(37, 33, 30, 1);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.container__header_tutu{
  min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container__header__pupu{
  display:flex;
}
.pointin{
  padding-left: 2%;
}
.pointout{
  padding-left:3%
}
.whats{
  padding-left:3%;
}
.mail{
  padding-left: 3%;
}
.container__header__Hed img {
  width:100%;
}
.Tagsins ul {
  padding-left:2%;
  padding-right:2%;
  display: flex;
 
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom:2%;
  margin:0 auto;
  padding-top:2%;
  margin-top: 4%;
}

.Tagsins img{
  margin: 0 auto;
}

*,
*::before,
*::after {
  color:white;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html {
    overflow-x: hidden;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgba(37, 33, 30, 1);
  
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
.cart {
  width: 250px;
  height: 340px;
  border: 1px solid black;
  margin: 30px;
  float: left;
  text-align: center;
  padding: 20px;
}
.cart .name {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.cart .cost {
  font-size: 1.3rem;
  margin: 30px 0;
}
.cart .add-to-cart {
  font-size: 1.1rem;
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
}
.goods-out {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.goods-out::after {
  content: "";
  display: block;
  clear: both;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font-family: Mplus 1p;
}
html {
    overflow-x: hidden;
}
.container {
    
    width: 100%;
    margin: 0 auto;
}
body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Mplus 1p";
    flex-direction: column;
}
ul {
    list-style-type: none;
}
a:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container {
  
  width: 100%;
  margin: 0 auto;
}
.container__header {
  margin:0 auto;
  max-width: 1293px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__header__Hed {
  display: flex;
  width: 30%;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 900;
  font-size: 250%;
  line-height: 43px;
  letter-spacing: 2px;
  color: #fcfcfc;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.container__header__lis {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}
.navm_act{
  text-decoration-line: underline;
  color:black;
}
.container__header__lis ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  padding: 0px;
  margin: 0px;
  width:70%;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 860px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
}
.search-icon, .go-icon {
  position: absolute;
  top: 0;
  height: 60px;
  width: 86px;
  line-height: 61px;
  text-align: center;
}

.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.go-in {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}
.border {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}
.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}
/*footach*/
.footer {
	padding: 60px 30px;
	background-color: rgba(53, 53, 53, 1);
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Name_Company{
  text-align: center;
  font-family: 'Average';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 54px;
color: #FFD700;
}.Name_Company p{

color: #FFD700;
}
.footer-nav {
	display: flex;
	justify-content: flex-start;
	
}
.footer-nav li:nth-child(1) {
  text-decoration: underline;
	
}
.footer-nav a {
	color: #2e323b;
	text-decoration: none;
}
.footer-nav a:hover {
	text-decoration: underline;
}
.nav-left, .nav-right {
	margin-bottom: 16px;
	margin-right: 10%;
	background-color: rgba(53, 53, 53, 1);
}

.nav-left li, .nav-right li {
	margin: 16px;
}
.social {
	float: right;
}

.feedback {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	border-top: 2px solid #DCDCDC;
	color: #898989;
}
.checkpsl{ 
  display:flex;
}
.checkpsl input{ 
  width:11%;
}
.left {
}

.right {
	
}
.politics__div {
  max-width:1300px;
  text-align:justify;
  background-color: #232222;
  margin: 0 auto;
}
#collMenu, label[for='toggleMenu']{
  display: none;
}
.container__main__text{

}
@media screen and (max-width: 613px) {
  .checkpsl input{ 
    width:15px;
    min-width: 15px;
  }
  .map {
    display:none;
  }
  label[for='toggleMenu'] {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    color: #fff;
}
#toggleMenu {
  position: absolute;
  top: 10px;
  right: 10px;

}
.container__header__lis{
  display:none;
}
}
@media screen and (max-width: 496px) {
  .footer{
    flex-direction: column;
    text-align:center;
  }
  .container__main__text{
    margin-right:5px;
    margin-left:5px;
  }
}