@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
@font-face{
    font-family: "Mplus 1p";
    src: url("fonts/MPLUS1p-Regular.ttf") format("truetype");

    }
    @font-face{
        font-family: "Mplus 1p-Bold";
        src: url("fonts/MPLUS1p-Bold.ttf") format("truetype");

        }
        @font-face {
            font-family: "Mplus1p-Black";
            src: url("fonts/MPLUS1p-Black.ttf") format("truetype");
        }
        @font-face{
            font-family: "Mplus 1p-Medium";
            src: url("fonts/MPLUS1p-Medium.ttf") format("truetype");
    
            }
/* Указываем box sizing */
*,
*::before,
*::after {
  color:white;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html {
    overflow-x: hidden;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgba(37, 33, 30, 1);
  
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font-family: Mplus 1p;
}
html {
    overflow-x: hidden;
}
.container {
    
    width: 100%;
    margin: 0 auto;
}
body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Mplus 1p";
    flex-direction: column;
}
ul {
    list-style-type: none;
}
a:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container {
  
  width: 100%;
  margin: 0 auto;
}
.container__header {
  margin:0 auto;
  max-width: 1293px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__header__Hed {
  display: flex;
  width: 30%;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 900;
  font-size: 250%;
  line-height: 43px;
  letter-spacing: 2px;
  color: #fcfcfc;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.container__header__lis {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}
.navm_act{
  text-decoration-line: underline;
  color:black;
}
.container__header__lis ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  padding: 0px;
  margin: 0px;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 860px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
}
.search-icon, .go-icon {
  position: absolute;
  top: 0;
  height: 60px;
  width: 86px;
  line-height: 61px;
  text-align: center;
}

.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.go-in {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}
.border {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}
.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}


/*ПОПУЛЯРНЫЕ ТОВАРЫ*/

.pop {
	padding-top: 60px;
	padding-bottom: 70px;
	
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

.center {
	margin: 0 30px auto 30px;
}

.pop  h2, .action h2, .news h2 {
	display: inline-block;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	
	font-size: 30px;
	line-height: 40px;	
	font-weight: 200;
	}
	
.pop  h2 {
	color: #2E323B;
}

	
.pref, .next {
	display: inline-block;
	float: right;
	width: 41px;
	height: 40px;
	margin-right: 15px;
}

.pref {
	background:url(../img/sprite.png) no-repeat 0 -683px;
}

.next {
	background:  url(../img/sprite.png) no-repeat 0 -748px;
}

.pop-wrapper,
.catalog {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
	
.pop-product {
	position: relative;
	float: left;
	width: 30%;
	min-width: 250px;
	min-height: 420px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 98px;
	box-sizing: border-box;
	border: 2px solid #EBEBEB;
	padding: 27px 20px;
	z-index: 1;
	
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;

}
.pop-product:hover {
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .3);
	border-color: #fdfdfd;
}

.product-item {
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.pop-product:nth-child(4n) {
	margin-right: 0;
}
.product-name{
	display: block;
	text-decoration: none;
	color: #ffffff;
}

.pop-product-best {
	display:block;
	margin: 0;
	position: absolute;
	top: 13px;
	left: -8px;
	
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #fff;
	
	padding: 6px 10px;
	background-color: #F34D4D;
}

.pop-product-best::after {
	content: "";
	border: 4px solid transparent;
	border-bottom: 4px solid  #F34D4D;
	transform: rotate(45deg);
	position: absolute;
	top: 24px;
	left: 2px;
}

.product-price {
	display: block;
	float: left;
	margin-right: 20px;
	font-size: 18px;
	line-height: 4;
	font-weight: bold;
	color: #ffffff;
}

.pop-product .basket-btn{
	position: relative;
	top: 14px;
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../images/sprite.png) no-repeat 9px -35px, #554f4f;
}
.product-name span{
	display: block;
	position: absolute;
	bottom: 20px;
	max-width: 230px;
}
/*footer*/


.footer {
	padding: 60px 30px;
	background-color: rgba(53, 53, 53, 1);
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Name_Company{
  text-align: center;
  font-family: 'Average';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 54px;
color: #FFD700;
}.Name_Company p{

color: #FFD700;
}
.footer-nav {
	display: flex;
	justify-content: flex-start;
	
}
.footer-nav li:nth-child(1) {
  text-decoration: underline;
	
}
.footer-nav a {
	color: #2e323b;
	text-decoration: none;
}
.footer-nav a:hover {
	text-decoration: underline;
}
.nav-left, .nav-right {
	margin-bottom: 16px;
	margin-right: 10%;
	background-color: rgba(53, 53, 53, 1);
}

.nav-left li, .nav-right li {
	margin: 16px;
}
.social {
	float: right;
}

.feedback {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	border-top: 2px solid #DCDCDC;
	color: #898989;
}

.left {
}

.right {
	
}

/* Products */
.products-container {
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}

.products-section {

  padding: 1px;
  background-color: rgb(81, 81, 81, 1);
  background-size: cover;
}



/* Sidebar */
.sidebar {
  padding: 0;
  margin: 0;
  
}

.sidebar_container {
  padding: 10px;
  border-top: 1px solid #d9dcdd;

  cursor: pointer;
}

.sidebar_container:first-child {
  border-top: 0px;
}

.sidebar-type {
  font-size: 20px;
}

.sidebar-content {
  display: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  list-style: none;
  font-size: 17.5px;
}

.sidebar-content li a {
  color: black;
}


.sidebar-content li span {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.color {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid #d9dcdd;
}

.color span {
  display: none;
}

/* Dropdown */
.wrapper-dropdown {
  position: relative;
  width: 30%;
  padding: 10px;
  margin-left: 70%;

  background: #fff;
  border-radius: 7px;
  border: 1px solid #d9dcdd;
  cursor: pointer;
  outline: none;

  font-size: 20px;
  color: black;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: black transparent;
}

.wrapper-dropdown .dropdown {
  display: none;
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  padding: 0;


  background: white;
  border-radius: inherit;
  border: 1px solid #d9dcdd;
  font-weight: normal;
  -webkit-transition: all 0.150s ease-in;
  -moz-transition: all 0.150s ease-in;
  -ms-transition: all 0.150s ease-in;
  -o-transition: all 0.150s ease-in;
  transition: all 0.150s ease-in;
  list-style: none;

  cursor: pointer;
}

.wrapper-dropdown .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;    
}

.wrapper-dropdown .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #e6e8ea;
  -webkit-transition: all 0.150s ease-out;
  -moz-transition: all 0.150s ease-out;
  -ms-transition: all 0.150s ease-out;
  -o-transition: all 0.150s ease-out;
  transition: all 0.150s ease-out;
}

.wrapper-dropdown .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0;
}

.wrapper-dropdown .dropdown li:last-of-type a {
  border: none;
  border-radius: 0 0 7px 7px;
}

.wrapper-dropdown.active .dropdown {
  display: block;
}



/* Product */
.product-container {
  margin-top: 30px;
}

.product-wrapper_col_col-lg-9 {
  padding-left: 15px;
}

.product-viewer {
  display: inline-block;
  margin-left: 1%;
  width: 24%;
}

.product-viewer img {
  width: 100%;
  height: auto;
}

.product-content {
  width: 100%;
  padding: 5px;
} 

.product-subcontent {
  width: 100%;
  padding: 5px;
}

.product-subcontent span:last-child{
  float: right;
}
.row_products-section{
  display:flex;
  max-width: 1163px;
  margin: 0 auto;
}
.sidebar-wrapper_col_col-lg-3{
  min-width: 30%;
}
.col{
  margin:100px;
  
}
.sidebar_attempt{
  background-color: rgba(37, 37, 37, 1);
}


.search {
  width: 100%;
  position: relative;
  display: flex;
  background-color: rgba(37, 33, 30, 1);
}

.searchTerm {
  width: 100%;
  border: 1px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ffffff;
  background: rgba(37, 33, 30, 1);
}

.searchTerm:focus{
  color: #ffffff;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  background: rgba(37, 33, 30, 1);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.container__header_tutu{
  min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container__header__pupu{
  display:flex;
}
.pointin{
  padding-left: 2%;
}
.pointout{
  padding-left:3%
}
.whats{
  padding-left:3%;
}
.mail{
  padding-left: 3%;
}
.container__header__Hed img {
  width:100%;
}
.Tagsins ul {
  padding-left:2%;
  padding-right:2%;
  display: flex;
 
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom:2%;
  margin:0 auto;
  padding-top:2%;
  margin-top: 4%;
}

.Tagsins img{
  margin: 0 auto;
}